<div class="nav-bar">
    <div class="nav-link">
        {{#link-to "dash" class="button"}}
            DashBoard
        {{/link-to}}
    </div>
    <div class="nav-link">
        {{#link-to "viewDash" class="button"}}
            View Dash
        {{/link-to}}
    </div>
</div>